<button (click)="UkryjProdukty()">{{ pokazProdukty ? 'Ukryj produkty' : 'Pokaz produkty' }}</button>
<app-koszyk [lacznie]="koszykLacznie"></app-koszyk>

<div *ngIf="pokazProdukty">
  <table>
    <thead>
      <tr>
        <th>Nazwa</th>
        <th>Cena</th>
        <th>Data ważności</th>
        <th>Liczba sztuk w koszyku</th>
        <th>Dodaj do koszyka</th>
        <th>Akcja</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let produkt of produkts" [ngClass]="{'promocja': produkt.czyPromocja}">
        <td *ngIf="produkt.produktRozwiniety">{{ produkt.nazwa }}</td>
        <td *ngIf="produkt.produktRozwiniety">{{ produkt.cena.toFixed(2) }}</td>
        <td *ngIf="produkt.produktRozwiniety">{{ produkt.dataUtworzenia | date: 'dd/MM/yyyy' }}</td>
        <td>{{ produkt.iloscWKoszyku }}</td>
        <td>
          <button (click)="DodajDoKoszyka(produkt)">Dodaj do koszyka</button>
        </td>
        <td>
          <button (click)="produkt.ToggleRozwiniety()">
            {{ produkt.produktRozwiniety ? 'Zwiń' : 'Rozwiń' }}
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>